@font-face {
    font-family: "Externa";
    src: url(../Fuentes/Comic_Neue/ComicNeue-Light.ttf ) format("truetype");
    font-weight: 200;
}

@font-face {
    font-family: "Externa";
    src: url(../Fuentes/Comic_Neue/ComicNeue-Regular.ttf ) format("truetype");
    font-weight: 400;
}

@font-face {
    font-family: "Externa";
    src: url(../Fuentes/Comic_Neue/ComicNeue-Bold.ttf ) format("truetype");
    font-weight: 600;
}